
.img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: grayscale(1) blur(1px);
    transform: scale(1);
    transition: filter 0.4s, 
        transform 0.4s, 
        box-shadow 0.4s,
        border-radius 0.4s,
        opacity 0.4s;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    opacity: 0;
}

.img.showImg{
    opacity: 1;

}

.img:hover{
    filter: grayscale(0) blur(0);
    transform: scale(1.01);
    z-index: 10;
    box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.25);
    border-radius: 4px;
}

.img:hover .footer{

    opacity: 1;
}

.content{
    flex-grow: 1;
}

.footer{
    color: white;
    opacity: 0;
    transition: opacity 0.4s;
    background-color: rgba(0,0,0,0.85);
}

.imgTitle{
    margin: auto 0 0 0;
    padding: 24px;
}

.img1{
    grid-area: 1 / 1 / 1 / 11;

}

.img2{
    grid-area: 2 / 1 / 4 / 4;

}

.img3{
    grid-area: 2 / 4 / 3 / 8;

}

.img4{
    grid-area: 5 / 1 / 5 / 5;
}

.img5{
    grid-area: 4 / 1 / 4 / 8;

}

.img6{
    grid-area: 4 / 8 / 6 / 11;
}

.img7{
    grid-area: 5 / 5 / 5 / 8;
}

.img8{
    grid-area: 3 / 4 / 3 / 11;
}

.img9{
    grid-area: 2 / 8 / 2 / 11;

}

.img10{
    grid-area: 6 / 1 / 6 / 6;
}

.img11{
    grid-area: 6 / 6 / 6 / 11;
}
