@import './assets/typo.css';
@import './img.css';


body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0.5em;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(10,calc(10vw - 0.55em));
    grid-template-rows: repeat(6,400px);

}

::-webkit-scrollbar{
    display: none;
}
